@import url('https://fonts.google.com/specimen/Play?query=play');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: Roboto, sans-serif;
}

/*.mantine-Chip-checkIcon {*/
/*    visibility: hidden;*/
/*}*/
